/*  VARIABLES
    ============================================== */

:root {
    --primary-color: #fc4311;
    --hero-image-height: 70rem;
    --hero-title-font-size: 7rem;
    --white-color: #ffffff;
    --container-width: 114rem;
}

/*  GENERAL
    ============================================== */

* {
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}


/*  SECTIONS
    =============================================== */

/* Header */

.header {
    padding: 4rem 0 3rem 0;
    background-color: #fc4311;
}

/* Hero */

.hero {
    height: 70rem;
    background-image: url("/images/banner2.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero__container {
    width: 95rem;
}

.hero__title {
    color: #fff;
    font-size: 7rem;
    line-height: 7rem;
    font-weight: bold;
    padding-top: 4rem;
    margin: 0;
    text-align: center;
}

.hero__description {
    font-size: 1.7rem;
    padding: 3rem 0px 4rem 0px;
    font-weight: 300;
    margin: 0;
    text-align: center;
    color: #fff;
}

.hero__arr {
    position: absolute;
    height: 7rem;
    width: 7rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .5s;
    font-size: 3rem;
    color: #000;
}

.hero__arr:hover {
    background-color: #fc4311;
    color: #fff;
}

.hero__left_arr {
    left: -2rem;
}

.hero__right_arr {
    right: -2rem;
}

.hero__bottom_arr {
    bottom: -3.5rem;
    color: #fc4311;
}

.hero__bottom_arr:hover {
    background-color: #fff;
    color: #fc4311;
}

.hero__btn_container,
.about__btn_container {
    text-align: center;
    padding-top: 1rem;
}

/* About */

.about__headline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__title {
    margin: 0;
    padding-top: 9rem;
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: .5rem;
    border-bottom: 1px solid #fc4311;
    margin-bottom: 2rem;
}

.about__description {
    color: #3d3c3c;
    font-size: 1.7rem;
    line-height: 3rem;
    text-align: center;
    margin: 0;
    margin-bottom: 5rem;
}

.about__figure {
    margin: 0;
}

.about__figure > img {
    max-width: 100%;
    height: auto;
}

.about__content-title {
    font-size: 3.4rem;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 3rem;
    line-height: 3.7rem;
}

.about__content-description {
    font-size: 1.9rem;
    line-height: 2.8rem;
    color: #666666;
}

.about__content-container {
    padding-right: 1.5rem;
}

.about__btn_container {
    padding-top: 5rem;
}

.about__btn_container > a {
    display: inline-block;
}

/*  COMPONENTS
    =============================================== */

/* LOGO */

.logo {
    display: flex;
    align-self: center;
}

.logo > a {
    font-size: 4rem;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation {
    display: flex;
}

.navigation > a {
    align-self: center;
    color: #fff;
    text-decoration: none;
    padding: 0 2.5rem 0 2.5rem;
    font-size: 1.7rem;
    font-weight: 500;
    transition: .3s;
}

.navigation > a:hover {
    color: #000;
}

.navigation > a:last-of-type {
    padding-right: 0;
}

a.active-link {
    color: #000;
}

.btn {
    border-radius: 0;
    padding: 1.5rem 5rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    transition: .3s;
}

.btn-primary {
    border: #da4207 solid 1px;
    background-color: #da4207;
    border-color: #da4207;
}

.btn-secondary {
    border: #000 solid 1px;
    background-color: #000;
    border-color: #000;
}

.btn:hover {
    border-radius: 2.5rem;
}

.btn-primary:hover {
    border: #fff solid 1px;
    background-color: #fff;
    color: #da4207;
}

.btn-secondary:hover {
    border: #da4207 solid 1px;
    background-color: #da4207;
    color: #fff;
}


/*  GRID
    ================================================ */

.container {
    max-width: 114rem;
    margin: 0 auto;
}

.container-fluid {
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.row > * {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.space-between {
    justify-content: space-between;
}

.col {
    flex: 1 0 0%;
}

.col-6 {
    width: 50%;
}

.col-9 {
    width: calc(100/12*9%);
}

.offset-1 {
    margin-left: calc(100/12*1%);
}

.offset-3 {
    margin-left: calc(100/12*3%)
}

.no-gutters {
    padding-left: 0;
    padding-right: 0;
}

/*

col-1 = 8,333333333333333%
col-2 = 16,66666666666667%
col-3 = 25%
col-4 = 33,33333333333333%
col-5 = 41,66666666666667%
col-6 = 50%
col-7 = 58.33333333333333%
col-8 = 66,66666666666667%
col-9 = 75%
col-10 = 83,33333333333333%
col-11 = 91,66666666666667%
col-12 = 100%
