/*  VARIABLES
    ============================================== */

:root {
    --primary-color: #fc4311;
    --hero-image-height: 70rem;
    --hero-title-font-size: 7rem;
    --white-color: #ffffff;
    --container-width: 114rem;
}

/*  GENERAL
    ============================================== */

* {
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}


/*  SECTIONS
    =============================================== */

/* Header */

.header {
    padding: 4rem 0 3rem 0;
    background-color: #fc4311;
}

/* Hero */

.hero {
    height: 70rem;
    background-image: url("/images/banner2.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero__container {
    width: 95rem;
}

.hero__title {
    color: #fff;
    font-size: 7rem;
    line-height: 7rem;
    font-weight: bold;
    padding-top: 4rem;
    margin: 0;
    text-align: center;
}

.hero__description {
    font-size: 1.7rem;
    padding: 3rem 0px 4rem 0px;
    font-weight: 300;
    margin: 0;
    text-align: center;
    color: #fff;
}

.hero__arr {
    position: absolute;
    height: 7rem;
    width: 7rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .5s;
    font-size: 3rem;
    color: #000;
}

.hero__arr:hover {
    background-color: #fc4311;
    color: #fff;
}

.hero__left_arr {
    left: -2rem;
}

.hero__right_arr {
    right: -2rem;
}

.hero__bottom_arr {
    bottom: -3.5rem;
    color: #fc4311;
}

.hero__bottom_arr:hover {
    background-color: #fff;
    color: #fc4311;
}

.hero__btn_container,
.about__btn_container,
.screenshot__btn_container {
    text-align: center;
    padding-top: 1rem;
}

/* About */

.about__figure {
    margin: 0;
}

.about__figure > img {
    max-width: 100%;
    height: auto;
}

.about__content-title {
    font-size: 3.4rem;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 3rem;
    line-height: 3.7rem;
}

.about__content-description {
    font-size: 1.9rem;
    line-height: 2.8rem;
    color: #666666;
}

.about__content-container {
    padding-right: 1.5rem;
}

.about__btn_container {
    padding-top: 5rem;
}

/*  SCREENSHOT */

.screenshot__banner-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.screenshot__arr {
    position: absolute;
    width: 5.5rem;
    height: 5.5rem;
    background-color: #000;
    color: #fff;
    display: flex;
    text-decoration: none;
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
    top: 40%;
    transition: .5s;
}

.screenshot__arr:hover {
    background-color: #da4207;
}

.screenshot__arr-left {
    left: 0;
}

.screenshot__arr-right {
    right: 0;
}

/* SERVICES */

.services {
    background-color: #f4f4f4;
    margin-top: 9rem;
    padding-bottom: 6rem;
}

/* BLOG */

.blog {
    padding-bottom: 6rem;
}

/* CONTACT */

.contact {
    background-color: #2f2e2e;
    padding-bottom: 6rem;
}

.contact__form-container {
    text-align: center;
}

.contact__form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

.contact__form > input,
.contact__form > textarea {
    border-radius: 0;
    border: 1px solid #b1b0b0;
    color: #000;
    padding: 1.2rem 1.9rem;
    outline: none;
    font-size: 1.4rem;
    margin-bottom: 2.6rem;
}

.contact__submit-container {
    text-align: center;
}

.contact__submit-container > input[type=submit] {
    cursor: pointer;
}

/* FOOTER */

.footer {
    background-color: #fc4311;
    padding-top: 5.5rem;
}

.footer__info-title {
    color: #fff;
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 0;
    padding-bottom: 2rem;
}

.footer__info-description {
    display: flex;
    align-items: center;
}

.footer__info-description > img {
    padding-right: 1rem;
}

.footer__info-description > em {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}

.footer__info-icons > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.footer__info-icons > ul > li {
    padding-right: 1rem;
}

.footer__info-icons > ul > li > img {
    width: 3.2rem;
    height: 3.2rem;
}

.footer__info-form  input[type=text] {
    width: 100%;
    padding: 1rem 1.5rem;
    color: #495057;
    border: 1px solid #ddd;
    outline: none;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.footer__info-form  input[type=submit] {
    border: none;
    background-color: #000;
    font-size: 1.8rem;
    padding: 1rem 2.3rem;
    cursor: pointer;
    color: #fc4311;
    font-weight: 500;
}

.footer__info-form  input[type=submit]:hover {
    background-color: #fff;
}

.footer .copy-container {
    text-align: center;
    padding: 2rem 0;
    background-color: #fff;
    margin-top: 5.5rem;
}

.footer .copy-container > p {
    margin: 0;
    color: #000;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

/*  COMPONENTS
    =============================================== */

/* LOGO */

.logo {
    display: flex;
    align-self: center;
}

.logo > a {
    font-size: 4rem;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

/* NAVIGATION */

.navigation {
    display: flex;
}

.navigation > a {
    align-self: center;
    color: #fff;
    text-decoration: none;
    padding: 0 2.5rem 0 2.5rem;
    font-size: 1.7rem;
    font-weight: 500;
    transition: .3s;
}

.navigation > a:hover {
    color: #000;
}

.navigation > a:last-of-type {
    padding-right: 0;
}

/* LINKS */

a.active-link {
    color: #000;
}

/* HEADLINE */

.headline__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline__title {
    margin: 0;
    padding-top: 9rem;
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: .5rem;
    border-bottom: 1px solid #fc4311;
    margin-bottom: 2rem;
}

.headline__title--1 {
    color: #fc4311;
}

.headline__title--2 {
    color: #fff;
    border-bottom-color: #fff;
    margin-bottom: 6rem;
}

.headline__description {
    color: #3d3c3c;
    font-size: 1.7rem;
    line-height: 3rem;
    text-align: center;
    margin: 0;
    margin-bottom: 5rem;
}

.headline__description--1 {
    color: #666666;
    font-size: 1.4rem;
}

/* BUTTONS */

.btn {
    border-radius: 0;
    padding: 1.5rem 5rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    transition: .3s;
    display: inline-block;
}

.btn-primary {
    border: #da4207 solid 1px;
    background-color: #da4207;
    border-color: #da4207;
}

.btn-secondary {
    border: #000 solid 1px;
    background-color: #000;
    border-color: #000;
}

.btn:hover {
    border-radius: 2.5rem;
}

.btn-primary:hover {
    border: #fff solid 1px;
    background-color: #fff;
    color: #da4207;
}

.btn-secondary:hover {
    border: #da4207 solid 1px;
    background-color: #da4207;
    color: #fff;
}

/* CARDS */

.service-card {
    margin-bottom: 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}

.service-card > img {
    width: 100%;
    border-radius: 2rem;
    opacity: 1;
    transition: .5s;
}

.service-card > a {
    position: absolute;
    text-decoration: none;
    color: #fc4311;
    font-size: 1.7rem;
    padding: 0.5rem 3rem;
    border: 1px solid transparent;
    transition: .5s;
}

.service-card:hover {
    background-color: #fc4311;
}

.service-card:hover > img {
    opacity: 0.4;
}

.service-card:hover > a {
    color: #fff;
    border: 1px solid #fff;
}

.blog-card {
    margin-bottom: 3rem;
}

.blog-card > figure {
    margin: 0;
    position: relative;
}

.blog-card > figure > img {
    width: 100%;
    object-fit: cover;
}

.blog-card > figure > span {
    position: absolute;
    left: 0;
    color: #fff;
    background-color: #fc4311;
    padding: 1rem 3rem;
    font-size: 1.4rem;
}

.blog-card__post-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 0;
}

.blog-card__post-by {
    color: #fc4311;
    margin: 0;
    font-size: 1.4rem;
}

.blog-card__reaction-container {
    display: flex;
}

.blog-card__reaction-container > p {
    padding-left: 1.5rem;
    font-size: 1.6rem;
    margin: 0;
    color: #666666;
}

.blog-card__reaction-container > p > span {
    color: #fc4311;
}

.blog-card__title {
    font-size: 2rem;
    line-height: 3rem;
    margin: 0;
    padding-bottom: 1.2rem;
    font-weight: 100;
}

.blog-card__description {
    color: #666666;
    font-size: 1.6rem;
    line-height: 3rem;
    margin: 0;
}
 

/*  GRID
    ================================================ */

.container {
    max-width: 114rem;
    margin: 0 auto;
}

.container-fluid {
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.row > * {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.space-between {
    justify-content: space-between;
}

.col {
    flex: 1 0 0%;
}

.col-2 {
    width: calc(100/12*2%);
}

.col-4 {
    width: calc(100/12*4%);
}

.col-6 {
    width: 50%;
}

.col-9 {
    width: calc(100/12*9%);
}

.offset-1 {
    margin-left: calc(100/12*1%);
}

.offset-3 {
    margin-left: calc(100/12*3%);
}

.no-gutters {
    padding-left: 0;
    padding-right: 0;
}

/*

col-1 = 8,333333333333333%
col-2 = 16,66666666666667%
col-3 = 25%
col-4 = 33,33333333333333%
col-5 = 41,66666666666667%
col-6 = 50%
col-7 = 58.33333333333333%
col-8 = 66,66666666666667%
col-9 = 75%
col-10 = 83,33333333333333%
col-11 = 91,66666666666667%
col-12 = 100%
